/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/* @end */

/* @group Misc */

.clear:after {
	clear: both;
	content: " ";
	display: block;
	height: 0;
	zoom: 1;
}

/* @end */

/* @group General */

body {
	background: #36424e url(../img/bgrd.gif);
	color: #fff;
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 24px;
	font-weight: 300;
	text-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
}

a {
	color: #abdbf7;
	text-shadow: rgba(14, 40, 77, 0.5) 0px 1px 1px;
}

h1 {
	font-size: 1.7em;
	letter-spacing: 0.05em;
	margin: 0 0 0.5em;
}

h3 {
	font-size: 1.2em;
}

p {
	margin-bottom: 1em;
}

a {
	text-decoration: none;
	white-space: nowrap;
}

a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Layout */

div#container {
	width: 27em;
	height: 18em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -9em 0 0 -13.5em;
}

div#container * {
	line-height: 1.3em;
}

div#contact li {
	font-size: 0.8em;
	float: left;
	width: 33%;
}

/* @end */
