/* @override 
	http://localhost/~samsoffes/iturndreamsintosoftware.com/css/stylesheet.css */

/* @group Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: "";
}

blockquote,q {
	quotes: "" "";
}

/* @end */

body {
	color: #333;
	font-family: "HelveticaNeue-Light","HelveticaNeue","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 20px;
	font-weight: 300;
}

div#container {
	order-radius-topright: 1.2em;
	-o-border-radius-topright: 1.2em;
	-icab-border-radius-topright: 1.2em;
	-khtml-border-radius-topright: 1.2em;
	-moz-border-radius-topright: 1.2em;
	-webkit-border-radius-topright: 1.2em;
	border-top-right-radius: 1.2em;
	-o-border-top-right-radius: 1.2em;
	-icab-border-top-right-radius: 1.2em;
	-khtml-border-top-right-radius: 1.2em;
	-moz-border-top-right-radius: 1.2em;
	-webkit-border-top-right-radius: 1.2em;
	border-radius-bottomleft: 1.2em;
	-o-border-radius-bottomleft: 1.2em;
	-icab-border-radius-bottomleft: 1.2em;
	-khtml-border-radius-bottomleft: 1.2em;
	-moz-border-radius-bottomleft: 1.2em;
	-webkit-border-radius-bottomleft: 1.2em;
	border-bottom-left-radius: 1.2em;
	-o-border-bottom-left-radius: 1.2em;
	-icab-border-bottom-left-radius: 1.2em;
	-khtml-border-bottom-left-radius: 1.2em;
	-moz-border-bottom-left-radius: 1.2em;
	-webkit-border-bottom-left-radius: 1.2em;
	background: #fafafa;
	border: 1.2em solid #f2f2f2;
	padding: 1.2em;
	width: 27em;
	height: 11em;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -7.9em 0 0 -15.9em;
	text-shadow: #ccc 1px 1px 2px;
}

a {
	color: #2e80d3;
}

em {
	font-style: normal;
	background: #fff6a9;
	padding: 0 0.1em;
}

h1 {
	font-size: 1.7em;
	font-weight: bold;
	margin-bottom: 0.2em;
}

h2 {
	font-size: 1.2em;
	margin-bottom: 1em;
}

p {
	margin-bottom: 1em;
	line-height: 1.3em;
}

a {
	text-decoration: none;
	white-space: nowrap;
}

a:hover {
	text-decoration: underline;
}
