@import shared.sass

// General

body
	background= #36424e image_url("bgrd.gif")
	color: #fff
	font:
		family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif
		size: 24px
		weight: 300
	text-shadow: rgba(0, 0, 0, 0.75) 0px 1px 1px

a
	color: #abdbf7
	text-shadow: rgba(14, 40, 77, 0.75) 0px 1px 1px

h1
	font-size: 1.7em
	letter-spacing: 0.05em
	margin: 0 0 0.5em

h3
	font-size: 1.2em

p
	margin-bottom: 1em

a
	text-decoration: none
	white-space: nowrap

a:hover
	text-decoration: underline

// Layout

div#container
	width: 27em
	height: 18em
	position: absolute
	top: 50%
	left: 50%
	margin: -9em 0 0 -13.5em

div#container *
	line-height: 1.3em

div#contact li
	font-size: 0.75em
	float: left
	width: 33%

div#contact ul.im li
	float: left
	width: 49%
	margin: 0 auto
	text-align: center

div.hr 
	height: 1px
	background: rgba(0, 0, 0, 0.25)
	border-bottom: 1px solid rgba(255, 255, 255, 0.25)
	margin: 1em auto
	width: 70%
