// My simple reset
@import reset.sass

// Fonts
@font-face
  font-family: 'NillandRegular'
  src: url('/fonts/Nilland.eot')
  src: local('Nilland Regular'), local('Nilland'), url('/fonts/Nilland.woff') format('woff'), url('/fonts/Nilland.ttf') format('truetype'), url('/fonts/Nilland.svg#Nilland') format('svg')
!nilland = "NillandRegular, HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif"

@font-face
  font-family: 'BistroScriptRegular'
  src: url('/fonts/BistroScript.eot')
  src: local('Bistro Script Regular'), local('BistroScript'), url('/fonts/BistroScript.woff') format('woff'), url('/fonts/BistroScript.ttf') format('truetype'), url('/fonts/BistroScript.svg#BistroScript') format('svg')
!bistroScript = "BistroScriptRegular, 'Marker Felt', HelveticaNeue, 'Helvetica Neue', Helvetica, Arial, sans-serif"

// Easy clear
.clear:after
  clear: both
  content: " "
  display: block
  height: 0
  zoom: 1

// General
body
  background= #f4f4f3
  color: #455b75
  font:
    family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif
    size: 18px
    weight: 300

a
  border-bottom: 1px dotted #cfdae5
  color: #455b75
  text-decoration: none
//  white-space: nowrap
a:hover
  border-bottom: 1px solid
  color: #92abc1

h1
  font-size: 68px
  margin: 50px 0
  text-transform: lowercase
  font-family= !bistroScript
  a
    color: #f05b35
    border: 0
  a:hover
    border: 0

h2
  background= image_url("lightning.png") "no-repeat 0 10px"
  color: #445b75
  font:
    size: 26px
    weight: bold
    family= !nilland
  padding-left: 40px
  text-transform: lowercase
  margin-bottom: 4px

p
  margin-bottom: 1em
  line-height: 26px

div#border
  margin-top: 20px
  border-top: 1px dashed #c0d4e7

div#container
  width: 580px
  margin: 0 auto 30px

ul.contact
  color: #7e8c9c
  font-size: 15px
  margin-bottom: 0.5em
  a
    color: #7e8c9c
    border: 0
  a:hover
    border-bottom: 1px solid
  li
    float: left
    width: 33%
    text-align: center
    span
      font-size: 22px
      font-family= !bistroScript
      text-transform: lowercase
      position: relative
      top: -1px

ul.contact.two li
  width: 49%
