<h2>What I Do</h2>
<p>Hi, <a href="http://soff.es/" rel="external nofollow">I'm Sam</a>. I am an <a href="http://github.com/samsoffes" rel="external nofollow">iOS and Rails software engineer</a>, <a href="http://soff.es/music">musician</a>, <a href="http://dribbble.com/soffes" rel="external nofollow">wanna be designer</a>, and burger connoisseur. I live in San Francisco.</p>

<p>Now, <em>I'm bootstrapping <a href="http://nothingmagical.com" rel="external nofollow">a company</a> and working on <a href="https://cheddarapp.com" rel="external nofollow">my own products</a> full time</em>. Checkout my <a href="http://soff.es/projects">recent projects</a>.</p>

<h2>What I've Done</h2>
<p>I previously worked at <a href="http://heysynthetic.com" rel="external nofollow">Synthetic</a> (the makers of <a href="http://hipstamatic.com" rel="external nofollow">Hipstamatic</a>). When the iPhone SDK first came out in 2008, I wrote this app called <a href="http://www.youversion.com/mobile" rel="external nofollow">Bible</a> that launched day one of the App Store. There are millions of people using it now, which is really humbling. I used to own a few companies, freelanced, and worked at some startups. Ask me about it <a href="https://twitter.com/intent/tweet?screen_name=soffes">on Twitter</a> if you're curious.</p>

<p>The best way to get to know me is to listen to <a href="http://5by5.tv/founderstalk/38" rel="external nofollow">part 1</a> and <a href="http://5by5.tv/founderstalk/38" rel="external nofollow">part 2</a> of the Founders Talk about my life, <a href="http://nothingmagical.com" rel="external nofollow">Nothing Magical</a>, and making <a href="http://cheddarapp.com" rel="external nofollow">Cheddar</a>.</p>

<ul class="contact clear">
  <li><span>Read:</span> <a href="http://soff.es/">http://soff.es</a></li>
  <li><span>Email:</span> <a href="mailto:sam@soff.es">sam@soff.es</a></li>
  <li><span>Call:</span> <a href="tel:+1-405-935-3653">(415) 935-3653</a></li>
</ul>
<ul class="contact two clear">
  <li><span>Tweet:</span> <a href="http://twitter.com/soffes" rel="external nofollow">@soffes</a></li>
    <li><span>IM:</span> <a href="gtalk:chat?jid=samsoffes@gmail.com">samsoffes@gmail.com</a></li>
</ul>
