<% if params[:ref] == "x3watch" %>
<div class="x3watch">
  <h2>Hey X3watch user!</h2>
  <p>Thanks for checking me out. I worked very hard on the <a href="http://itunes.apple.com/us/app/x3watch/id337170101?mt=8">X3watch iPhone app</a>. We wanted to do a lot more to it but settled on a simpler version for now. I hope you enjoy it.</p>
  <p>If you have feedback or need support for X3watch, please <a href="mailto:craig@xxxchurch.com">contact X3watch</a>.</p>
</div>
<% end %>

<h2>What I Do</h2>
<p>My name is <a href="http://samsoff.es" rel="external nofollow">Sam Soffes</a>. I create iPhone, Mac, and web software at <a href="http://tastefulworks.com/" rel="external nofollow">Tasteful Works</a> in <a href="http://tastefulworks.com/about" rel="external nofollow">Dallas, TX</a>.</p>

<h2>What I've Done</h2>
<p>I founded <a href="http://tastefulworks.com/trimonix" rel="external nofollow">Trimonix</a> a few years ago with <a href="http://sammcd.com" rel="external nofollow">a friend from high school</a> and released a <a href="http://tastefulworks.com/countdown-maker" rel="external nofollow">Mac app</a>. Trimonix is now <a href="http://blog.tastefulworks.com/post/242777197/sam-soffes-and-the-merger-of-trimonix" rel="external nofollow">a part of Tasteful Works</a>. I  used to write <a href="http://youversion.com/iphone" rel="external nofollow">iPhone apps</a> and <a href="http://youversion.com/" rel="external nofollow">large scale web applications</a> at <a href="http://lifechurch.tv/" rel="external nofollow">LifeChurch.tv</a>.</p>

<h2>Contact Me</h2>
<p>The best way to get in touch with me is email, but here are some alternatives. If you want me to turn your dreams into software, <a href="http://tastefulworks.com/hire-us" rel="external nofollow">hit us up at Tasteful Works</a> and we'll get you taken care of.</p>

<p>You can find out more <a href="http://samsoff.es/about" rel="external nofollow">about me</a> or <a href="http://samsoff.es/music">listen to my music</a> at <a href="http://samsoff.es" rel="external nofollow">my blog</a>.</p>

<ul class="contact clear">
  <li><span>Read:</span> <a href="http://samsoff.es/">http://samsoff.es</a></li>
  <li><span>Email:</span> <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s">&#115;&#97;m&#x40;s&#97;&#x6d;&#x73;&#x6f;f&#x66;&#x2e;&#101;s</a></li>
  <li><span>Call:</span> <a href="tel:+1-405-935-3653">(415) 935-3653</a></li>
</ul>
<ul class="contact two clear">
  <li><span>Tweet:</span> <a href="http://twitter.com/samsoffes" rel="external nofollow">samsoffes</a></li>
    <li><span>IM:</span> <a href="gtalk:chat?jid=samsoffes@gmail.com">samsoffes@gmail.com</a></li>
</ul>
